body {
  background: #000;
  color: #35E02E;
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

.dispaly_area {
  font-size: 32px;
  letter-spacing: 0.1em;
  opacity: 0.8;
  border: #35E02E 2px solid;
  border-radius: 10px;
  margin: 0 auto;
  width: 75%;
}

.word_area {
  display: flex;
  justify-content: center;
}

#target {
}

#typedLetter {
  font-weight: bold;
  font-size: 34px;
  border-bottom: #35E02E 1px solid;
  opacity: 1;
  text-shadow:0 0 10px #14c50e;
}

.result_area {
  font-size: 18px;
}

#questionnaireArea > a {
  text-decoration: none;
  color: #35E02E;
}

#questionnaireArea > a:hover {
  text-shadow:0 0 10px #14c50e;
}
